<div class="posts list-group">

    <div class="post card">
        <div class="card-header flex-row justify-space-between">
            <h2>{{title}}</h2>
            <div class="flex-row">
                <p>Posted by {{User.username}} </p>
                <p>&nbspon {{format_date createdAt}}</p>
            </div>
        </div>
        <div class="card-body">
            <p>{{body}}</p>
        </div>
    </div>
    <div class="post card">
        <form class="form" id="new-comment-form">
            <div>
                <label for="comment-body">Comment</label>
                <textarea class="form-input" type="text" id="comment-body" name="comment-body"></textarea>
                <button type="submit" class="btn">Add Comment</button>
            </div>
        </form>
    </div>
    {{#if comments}}
    {{#each comments as |comment|}}
    <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
            <p>{{comment.body}}</p>
            <div class="flex-row">
                <p>-{{comment.User.username}} </p>
                <p> &nbspon {{format_date comment.createdAt}}</p>
            </div>

        </div>
    </div>
    {{/each}}
    {{/if}}
</div>

</div>
<script src="/js/comment.js"></script>